body{
    background-color:beige;
}

.cookie-wrapper{
    display: grid;
    justify-content: center;
}

.cookie-txt-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.cookie-img-container{
    transition: all ease;
}
.cookie-img-container img{
    width: 90%;
}

.cookie-img-container:hover{
    transition: all ease;
    transform: scale(1.01);
}



/* .clicked img{

    width: 99%;
} */

.cookie-power-up{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 25vh;
}

.power-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: grey;
    color: white;
    opacity: 0.6;
}

.active{
    background-color: brown;
    opacity: 1;
}

.power-icon-container{
    font-size: 22px;
    padding: 10px;
}

.active:hover{
    transform: translate(0.9);
}
